.timer-container {
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: #fff;
  padding: 30px; /* Agregar espacio alrededor del temporizador */
}

.timer-heading {
  font-size: 36px;
  margin-bottom: 70px;
  border: 3px #000;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: 3px violet;
  border-style: solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.timer-item {
  font-size: 48px;
  color: #fff; /* Color de los números */
  padding-right: 10px;
  padding-left: 10px;
  z-index: 1;
}

.timer-separator {
  font-size: 48px;
  color: #fff; /* Color de los separadores */
  margin: 0 10px; /* Espacio entre los números y los separadores */
}

.timer span{
    z-index: 1;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #0e1739;
}

.card {
  width: auto;
  height: auto;
  background-color: #000;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-neon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.border-neon::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 120%;
  background: linear-gradient(#388dde, #de4c4a);
  border-radius: 30px;
  animation: neon-animation 3s linear infinite;
}
.border-neon::after {
  content: '';
  position: absolute;
  inset: 4px;
  background: #0e1739;
  border-radius: 20px;
}
@keyframes neon-animation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 600px) {
  .timer-container {
    padding: 10px;
  }

  .timer-heading {
    font-size: 25px;
    margin-bottom: 30px;
  }

  .timer {
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 10px;
  }

  .timer-item {
    font-size: 17px;
    padding: 5px;
  }

  .timer-separator {
    font-size: 17px;
    margin: 0 5px;
  }

  .card {
    border-radius: 15px;
  }

  .border-neon {
    border-radius: 15px;
  }

  .border-neon::before {
    border-radius: 15px;
  }

  .border-neon::after {
    border-radius: 10px;
    inset: 2px;
  }
}